<a routerLink="/pages/recent/">test test test link</a>

<ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
               title="Search For Recipe">
  <div class="form-group" style="height:100px">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
	   	<label for="input01">What would you like to make?</label>
		  <input type="text" class="form-control" id="input01" placeholder="Enter a food" #food>
		  
      <div class="button-wrapper" style="padding-top: 10px">
          <button type="button" class="btn btn-danger btn-lg" (click)="searchForRecipe(food.value)">Submit</button>
      </div>
    </div>
  </div>
</ba-card>

<ba-card *ngIf="recipes" class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" >
RESULTS
</ba-card>
<ba-card *ngFor="let recipe of recipes" class="col-md-6" (click)="redirectToRecipe(recipe.id)"[title]="recipe.title">
	<img  style="width:450px; height:225px;" [src]="recipe.img" />
</ba-card>
  

